.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.674805;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-618.245608px;}
._5{margin-left:-612.919730px;}
._3{margin-left:-581.719730px;}
._0{width:43.300000px;}
._2{width:51.700000px;}
._1{width:54.500000px;}
._6{width:398.442405px;}
._7{width:451.306420px;}
.fc7{color:rgb(97,97,97);}
.fc6{color:rgb(34,34,34);}
.fc5{color:rgb(12,12,12);}
.fc4{color:rgb(0,176,240);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(137,137,137);}
.fc3{color:rgb(128,128,128);}
.fs6{font-size:44.000000px;}
.fsc{font-size:46.000000px;}
.fs2{font-size:48.000000px;}
.fs9{font-size:50.000000px;}
.fsb{font-size:56.000000px;}
.fsa{font-size:58.000000px;}
.fs8{font-size:64.000000px;}
.fs5{font-size:80.000000px;}
.fs4{font-size:82.000000px;}
.fs1{font-size:96.000000px;}
.fsd{font-size:144.000000px;}
.fs7{font-size:148.000000px;}
.fs3{font-size:160.000000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y13{bottom:13.608988px;}
.y48{bottom:20.426407px;}
.y3{bottom:21.092995px;}
.y47{bottom:35.546402px;}
.y46{bottom:60.666397px;}
.y45{bottom:75.786392px;}
.y35{bottom:94.290115px;}
.y1f{bottom:97.697395px;}
.y5b{bottom:99.607635px;}
.y44{bottom:100.906387px;}
.y34{bottom:107.250107px;}
.y43{bottom:116.026382px;}
.y5a{bottom:116.407639px;}
.y1e{bottom:116.897400px;}
.y33{bottom:130.210098px;}
.y59{bottom:133.207642px;}
.y12{bottom:135.008774px;}
.y42{bottom:141.146393px;}
.y58{bottom:150.007645px;}
.y32{bottom:153.170090px;}
.y41{bottom:156.266388px;}
.y11{bottom:156.608780px;}
.y31{bottom:166.130081px;}
.y57{bottom:166.807648px;}
.y2{bottom:167.107979px;}
.y40{bottom:171.386383px;}
.y10{bottom:178.208786px;}
.y30{bottom:179.090073px;}
.y56{bottom:183.607651px;}
.y3f{bottom:196.506378px;}
.yf{bottom:199.808792px;}
.y55{bottom:200.407646px;}
.y2f{bottom:202.050064px;}
.y3e{bottom:211.626373px;}
.y1{bottom:214.192833px;}
.y54{bottom:217.207649px;}
.ye{bottom:221.408768px;}
.y2e{bottom:225.010040px;}
.y3d{bottom:226.746368px;}
.y53{bottom:234.007652px;}
.y1d{bottom:234.422386px;}
.y2d{bottom:237.970032px;}
.y18{bottom:239.450089px;}
.y5{bottom:240.162888px;}
.y16{bottom:242.863541px;}
.y52{bottom:250.807659px;}
.y3c{bottom:251.866364px;}
.yd{bottom:253.008759px;}
.y1c{bottom:253.622383px;}
.y2c{bottom:260.930023px;}
.y15{bottom:264.463531px;}
.y3b{bottom:266.986366px;}
.y51{bottom:267.607658px;}
.y1b{bottom:272.822380px;}
.yc{bottom:274.608749px;}
.y17{bottom:279.410080px;}
.y4{bottom:283.362885px;}
.y2b{bottom:283.890015px;}
.y50{bottom:284.407658px;}
.y14{bottom:286.063538px;}
.y1a{bottom:292.022383px;}
.y3a{bottom:292.106369px;}
.yb{bottom:296.208740px;}
.y2a{bottom:296.850006px;}
.y4f{bottom:301.207660px;}
.y39{bottom:307.226372px;}
.ya{bottom:317.808731px;}
.y29{bottom:319.809998px;}
.y38{bottom:322.346375px;}
.y28{bottom:342.769997px;}
.y37{bottom:347.466373px;}
.y4e{bottom:348.992548px;}
.y9{bottom:349.408722px;}
.y27{bottom:355.730003px;}
.y36{bottom:362.586374px;}
.y8{bottom:371.008713px;}
.y26{bottom:378.690010px;}
.y21{bottom:389.510086px;}
.y25{bottom:401.650009px;}
.y7{bottom:402.608711px;}
.y24{bottom:414.610008px;}
.y19{bottom:419.147346px;}
.y6{bottom:424.208710px;}
.y4a{bottom:426.353115px;}
.y23{bottom:427.570007px;}
.y20{bottom:429.470083px;}
.y4b{bottom:432.563114px;}
.y49{bottom:438.773113px;}
.y22{bottom:450.530009px;}
.y4d{bottom:463.945251px;}
.y4c{bottom:497.078125px;}
.h7{height:31.582031px;}
.hf{height:33.017578px;}
.h3{height:34.453125px;}
.hc{height:36.425781px;}
.h11{height:40.195312px;}
.he{height:40.796875px;}
.hd{height:42.253906px;}
.ha{height:45.937500px;}
.h8{height:57.421875px;}
.h6{height:58.281250px;}
.h5{height:59.738281px;}
.h2{height:68.906250px;}
.h9{height:98.642578px;}
.h10{height:99.562500px;}
.hb{height:106.230469px;}
.h4{height:106.640625px;}
.h1{height:132.750000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xf{left:26.601196px;}
.x1a{left:40.559696px;}
.x10{left:44.601196px;}
.xa{left:46.806526px;}
.x19{left:62.295532px;}
.x5{left:91.071175px;}
.xc{left:106.164665px;}
.x1{left:109.316406px;}
.x2{left:113.081116px;}
.x9{left:115.282097px;}
.x4{left:123.016472px;}
.x18{left:133.410870px;}
.xd{left:139.062111px;}
.x17{left:225.179287px;}
.x16{left:226.866787px;}
.x15{left:321.010220px;}
.x14{left:323.322720px;}
.xe{left:329.162903px;}
.x1b{left:330.542297px;}
.x6{left:385.960571px;}
.x7{left:403.960571px;}
.xb{left:546.802917px;}
.x1c{left:620.524902px;}
.x1d{left:643.024902px;}
.x13{left:714.771389px;}
.x11{left:805.352322px;}
.x12{left:812.289822px;}
.x3{left:880.675018px;}
.x8{left:944.054985px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-824.327478pt;}
._5{margin-left:-817.226307pt;}
._3{margin-left:-775.626307pt;}
._0{width:57.733333pt;}
._2{width:68.933333pt;}
._1{width:72.666667pt;}
._6{width:531.256540pt;}
._7{width:601.741893pt;}
.fs6{font-size:58.666667pt;}
.fsc{font-size:61.333333pt;}
.fs2{font-size:64.000000pt;}
.fs9{font-size:66.666667pt;}
.fsb{font-size:74.666667pt;}
.fsa{font-size:77.333333pt;}
.fs8{font-size:85.333333pt;}
.fs5{font-size:106.666667pt;}
.fs4{font-size:109.333333pt;}
.fs1{font-size:128.000000pt;}
.fsd{font-size:192.000000pt;}
.fs7{font-size:197.333333pt;}
.fs3{font-size:213.333333pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:18.145317pt;}
.y48{bottom:27.235209pt;}
.y3{bottom:28.123993pt;}
.y47{bottom:47.395203pt;}
.y46{bottom:80.888529pt;}
.y45{bottom:101.048523pt;}
.y35{bottom:125.720154pt;}
.y1f{bottom:130.263194pt;}
.y5b{bottom:132.810181pt;}
.y44{bottom:134.541850pt;}
.y34{bottom:143.000142pt;}
.y43{bottom:154.701843pt;}
.y5a{bottom:155.210185pt;}
.y1e{bottom:155.863200pt;}
.y33{bottom:173.613464pt;}
.y59{bottom:177.610189pt;}
.y12{bottom:180.011698pt;}
.y42{bottom:188.195190pt;}
.y58{bottom:200.010193pt;}
.y32{bottom:204.226786pt;}
.y41{bottom:208.355184pt;}
.y11{bottom:208.811707pt;}
.y31{bottom:221.506775pt;}
.y57{bottom:222.410197pt;}
.y2{bottom:222.810638pt;}
.y40{bottom:228.515177pt;}
.y10{bottom:237.611715pt;}
.y30{bottom:238.786764pt;}
.y56{bottom:244.810201pt;}
.y3f{bottom:262.008504pt;}
.yf{bottom:266.411723pt;}
.y55{bottom:267.210195pt;}
.y2f{bottom:269.400085pt;}
.y3e{bottom:282.168498pt;}
.y1{bottom:285.590444pt;}
.y54{bottom:289.610199pt;}
.ye{bottom:295.211690pt;}
.y2e{bottom:300.013387pt;}
.y3d{bottom:302.328491pt;}
.y53{bottom:312.010203pt;}
.y1d{bottom:312.563182pt;}
.y2d{bottom:317.293376pt;}
.y18{bottom:319.266785pt;}
.y5{bottom:320.217183pt;}
.y16{bottom:323.818054pt;}
.y52{bottom:334.410212pt;}
.y3c{bottom:335.821818pt;}
.yd{bottom:337.345011pt;}
.y1c{bottom:338.163177pt;}
.y2c{bottom:347.906698pt;}
.y15{bottom:352.618042pt;}
.y3b{bottom:355.981822pt;}
.y51{bottom:356.810211pt;}
.y1b{bottom:363.763173pt;}
.yc{bottom:366.144999pt;}
.y17{bottom:372.546773pt;}
.y4{bottom:377.817179pt;}
.y2b{bottom:378.520020pt;}
.y50{bottom:379.210210pt;}
.y14{bottom:381.418050pt;}
.y1a{bottom:389.363177pt;}
.y3a{bottom:389.475159pt;}
.yb{bottom:394.944987pt;}
.y2a{bottom:395.800008pt;}
.y4f{bottom:401.610213pt;}
.y39{bottom:409.635162pt;}
.ya{bottom:423.744975pt;}
.y29{bottom:426.413330pt;}
.y38{bottom:429.795166pt;}
.y28{bottom:457.026662pt;}
.y37{bottom:463.288498pt;}
.y4e{bottom:465.323397pt;}
.y9{bottom:465.878296pt;}
.y27{bottom:474.306671pt;}
.y36{bottom:483.448499pt;}
.y8{bottom:494.678284pt;}
.y26{bottom:504.920013pt;}
.y21{bottom:519.346781pt;}
.y25{bottom:535.533346pt;}
.y7{bottom:536.811615pt;}
.y24{bottom:552.813344pt;}
.y19{bottom:558.863129pt;}
.y6{bottom:565.611613pt;}
.y4a{bottom:568.470820pt;}
.y23{bottom:570.093343pt;}
.y20{bottom:572.626778pt;}
.y4b{bottom:576.750819pt;}
.y49{bottom:585.030818pt;}
.y22{bottom:600.706679pt;}
.y4d{bottom:618.593669pt;}
.y4c{bottom:662.770833pt;}
.h7{height:42.109375pt;}
.hf{height:44.023438pt;}
.h3{height:45.937500pt;}
.hc{height:48.567708pt;}
.h11{height:53.593750pt;}
.he{height:54.395833pt;}
.hd{height:56.338542pt;}
.ha{height:61.250000pt;}
.h8{height:76.562500pt;}
.h6{height:77.708333pt;}
.h5{height:79.651042pt;}
.h2{height:91.875000pt;}
.h9{height:131.523438pt;}
.h10{height:132.750000pt;}
.hb{height:141.640625pt;}
.h4{height:142.187500pt;}
.h1{height:177.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xf{left:35.468262pt;}
.x1a{left:54.079595pt;}
.x10{left:59.468262pt;}
.xa{left:62.408702pt;}
.x19{left:83.060710pt;}
.x5{left:121.428233pt;}
.xc{left:141.552887pt;}
.x1{left:145.755208pt;}
.x2{left:150.774821pt;}
.x9{left:153.709462pt;}
.x4{left:164.021962pt;}
.x18{left:177.881159pt;}
.xd{left:185.416148pt;}
.x17{left:300.239049pt;}
.x16{left:302.489049pt;}
.x15{left:428.013626pt;}
.x14{left:431.096959pt;}
.xe{left:438.883870pt;}
.x1b{left:440.723063pt;}
.x6{left:514.614095pt;}
.x7{left:538.614095pt;}
.xb{left:729.070557pt;}
.x1c{left:827.366536pt;}
.x1d{left:857.366536pt;}
.x13{left:953.028519pt;}
.x11{left:1073.803095pt;}
.x12{left:1083.053095pt;}
.x3{left:1174.233358pt;}
.x8{left:1258.739980pt;}
}
